
body { 
  padding-bottom: 90px;
  background-image: url("/static/img/linedpaper/linedpaper.png");
  font-family: 'Open Sans', sans-serif;
}
.navbar-header {
  background-color: #bf3e11;
  border-color: #bf3e11;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrap { 
  background-image: url("/static/img/the_hunt.jpg");
  height: 1000px;
  background-size: cover;
  padding: 1em;
}

.homepage-login-form {
  opacity: 0.6;
  background-color: white;
  border-radius: 25px;
}

.homepage-login-form:hover {
  opacity: 0.9;
}

.homepage-login-form form {
  padding: 1em;
}




/*#background_img{
  background-image: url("/static/img/the_hunt.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#wrap {
    min-height: 100%;
    height: auto;
    height: 100%;
    /* Negative indent footer by it's height */
    margin-bottom: 80px auto;
}



.form-group{
 font-family: 'Open Sans', sans-serif;
 font-weight: 400
}



input[type="email"], 
input[type="password"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #cccccc;
  outline: none;
  color: #B6B6B6;
  font-size: 16px;
}
a,
a:focus,
a:hover {
  color: #009688;
  font-weight: bold;
}

.navbar{
  background-color: #ffffff;
}

/*.navbar:hover {
  background: #0DD6FF;
}*/

.label-as-badge {
    border-radius: 1em;
}

#button{
  display: block; 
  width: 50%;
  /*background-color: #FF962C;*/

}
.circle-image{
    width:200px;
    height:200px;
    border-radius:50%;
    background-image:url("../static/img/ViolaSP2015.png");
    display:block;
    position:absolute;

}
.list-group-item-heading{
  font-family: 'Montserrat', sans-serif;
}

.submit{
  font-family: 'Open Sans', sans-serif;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px;
}
.label-as-badge {
    border-radius: 3em;
}

.box_text{
    padding: 25px 50px 25px 50px;
  
}
.list-group-item-description {
   /* padding: 1em;*/
   font-family: 'Open Sans', sans-serif;
  
}
.list-group-item-text {
    position:relative;
  
}

.lead{
  font-weight: 100;
}
.box {
  background: #eaeaed;
  margin: 1.858736059%;
/*  width: 29.615861214%;*/
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  border-radius: 25px;
  
}

.btn-block {
  background-color: purple;
  color: white;
}

.btn {
  font-family: 'Open Sans', sans-serif;
}
.btn-info {
  background-color: #dd4814;
  border-color: #dd4814;
}
.box:hover {
  background: #0DD6FF;
}
.lead {
  font-family: 'Open Sans', sans-serif;

}
.footer { 
    display: block;
    font-family: 'Open Sans', sans-serif;
}
.page-header {
   font-size: 2.5em;
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}
.page-sub-header {
   font-size: 1.875em;
   font-family: 'Open Sans', sans-serif;
}