
.label-as-badge {
    border-radius: 1em;
}

#button{
  display: block; 
  width: 50%;
  background-color: #FF962C;

}
.circle-image{
    width:200px;
    height:200px;
    border-radius:50%;
    background-image:url("../static/img/ViolaSP2015.png");
    display:block;
    position:absolute;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px;
}
.label-as-badge {
    border-radius: 1em;
}

.box_text{
    padding: 25px 50px 25px 50px;
  
}
.list-group-item-description {
    padding: 1em;
  
}
.list-group-item-text {
    position:relative;
  
}
.box {
  background: #eaeaed;
  margin: 1.858736059%;
/*  width: 29.615861214%;*/
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  border-radius: 25px;
  
}
.box:hover {
  background: #0DD6FF;
}

.footer { 
    display: block;
}
.page-header {
   font-size: 2.5em;
   padding: 0;
   margin: 0;
}
.page-sub-header {
   font-size: 1.875em;
}