<!DOCTYPE html>
<html lang="en">
<head>
   <title>The Hunt</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/thehunt.css" rel="stylesheet">
</head>
<body>
{% block nav %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div>
         <img src="../static/img/the_hunt.jpg" height="50" align="left">
      </div>
      <div>
          <a href='/dashboard'>Dashboard</a>
          <a href="/position">Add a New Position</a>
          <a href="/listofpositions"> Positions</a>
          <a href="/listofdocuments">Documents</a>
          <a href="/listofnotes">Notes</a>
          <a href='/logout'> Log Out </a>
     </div>
  </nav> 
{% endblock %}
  <div class="container">
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div style="background-color: yellow" class="alert alert-info">{{ message }}</div>
      {% endfor %}
  {% endwith %}
  </div>
  <br>
  <br>
   {% block body %}
  
   {% endblock %}

<div align="center">
  <footer>
   <p>Copyright The Hunt Viola D. Olayinka's HB Final Project 2015. All rights reserved.</p>
  </footer>
</div>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>