<!DOCTYPE html>
<html lang="en">
<head>
   <title>The Hunt</title>
</head>
<body>
  <nav>
    <div>
    <img src="../static/img/the_hunt.jpg" height="50" align="left">
    </div>
    <div>
        <a href='/dashboard'>Dashboard</a>
        <a href="/position">Add a New Position</a>
        <a href="/listofpositions"> Positions</a>
        <a href="/listofdocuments">Documents</a>
        <a href="/listofnotes">Notes</a>
        <a href='/logout'> Log Out </a>
   </div>
  </nav> 
  <div class="container">
  {% for flash in get_flashed_messages() %}
    <div class="alert alert-info">{{ flash }}</div>
  {% endfor %}
  </div>
  <br>
  <br>
   {% block body %}
  
   {% endblock %}

<footer>
   <p>Copyright The Hunt Viola D. Olayinka's HB Final Project 2015. All rights reserved.</p>
</footer>

</body>
</html>