{% extends 'base.html' %}

{% block body %}

  <h2> Welcome Viola to the Hunt!</h2> 
  <img src="../static/img/ViolaSP2015.png" height="100" alt="User's profile picture" align="left">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h3> Here are your active positions:</h3>
  {% for position in positions %}
    <ul>
        <li><a href="/position/{{position.position_id}}">{{ position.title }} ({{ position.company_name }}) </a><br><strong>Next Deadline:</strong><br>{{ position.deadline }} </li>
    </ul>
  {% endfor %}
  <h3> Here are the documents you have on file:</h3>
  {% for document in documents %}
    <ul>
        <li>{{ document.asset_type }} ({{ document.asset_content }})</li>
    </ul>
  {% endfor %}
   <h3> Things to do:</h3>
   {% for note in notes %}
    <ul>
        <li>{{ note.note_type }}</li>
    </ul>
  {% endfor %}
 

{% endblock %}
