{% extends 'base.html' %}

    {% block body %}
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-lg-6" align="left">
                            <h1>Welcome {{user.first_name}} to The Hunt!</h1>
                            <p class="lead" align="left">
                                <h4><em>Choose a job you love, and you will never have to work a day in your life.</em></h4><h5>-Confucius</h5>    
                            </p>    
                    </div>
                    <div class="col-md-6 col-lg-6" align="right">
                        <img src="../static/img/ViolaSP2015.png" class="img-circle" height="150"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <div class="page-sub-header">
                        <h2>Here are your active positions:</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="/position" class="btn btn-default btn-lg btn-block">Add a new position!</a>
            </div>
            <div class="row">         
                {% for position in positions %}

                    <div class="col-md-4 col-lg-6">
                        <figure class="box">
                            <div class="box_text">
                                <a href="/position/{{position.position_id}}">
                                    <h4 class="list-group-item-heading ">
                                        {{ position.title }}
                                    </h4>
                                </a>
                                    <h5 class="list-group-item-description">
                                        <strong>{{ position.company_name }}</strong>
                                    </h5>
                                    <p class="list-group-item-text">
                                        <strong>Next Deadline:</strong> {{ position.deadline}} 
                                    </p>
                                {% if position.application_status == "in progress" %}
                                <span class="btn btn-info">
                                    {{position.application_status}}
                                </span>
                                {% endif %}

                                {% if position.application_status == "complete" %}
                                <span class="btn btn-success">
                                    {{position.application_status}}
                                </span>
                                {% endif %}

                                {% if position.application_status == "rejected" %}
                                <span class="btn btn-warning">
                                    {{position.application_status}}
                                </span>
                                {% endif %}

                                {% if position.application_status == "not yet started" %}
                                <span class="btn btn-danger">
                                    {{position.application_status}}
                                </span>
                                {% endif %}
                                <br>
                                    <div align="right">
                                        <form action="/delete_position/{{ position.position_id }}" 
                                              method="POST">
                                        <input type="submit" class="btn btn-primary" value="DELETE">
                                        </form>
                                    </div>
                               
                            </div>
                        </figure>  
                    </div>
            {% endfor %}
            </div>
        </div>
    {% endblock %}