{% extends 'base.html' %}

{% block body %}

  <h2> Welcome {{user.first_name}} to The Hunt!</h2> 
  <img src="../static/img/ViolaSP2015.png" height="100" alt="User's profile picture" align="left">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h3> Here are your active positions:</h3>
  {% for position in positions %}
    <ul>
        <li><a href="/position/{{position.position_id}}">{{ position.title }} ({{ position.company_name }}) </a><br><strong>Next Deadline:</strong><br>{{ position.deadline }} </li>
    </ul>
  {% endfor %}
  <form action='/position'>
    <input type="submit" value="Add a new position here!">
  </form>
 
{% endblock %}
