{% extends 'base.html' %}

{% block nav %}
<!-- THIS IS OVERRIDING THE NAVIGATION BAR FROM THE BASE.HTML -->
{% endblock %}
{% block body %}
<div class="container" align="center">
    <div class="col-md-12">
        <div class="pr-wrap">
            <div class="pass-reset">
                <form action='/login' method="POST">
                    <label> Please enter your email:
                        <input type="email" name="email" placeholder="Email">
                    </label>
                    <label>Password:
                        <input type="password" name="password" placeholder="Password" required>
                    </label>
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
            </div>
        </div>
    </div>
</div>

{% endblock %}