{% extends 'base.html' %}

{% block nav %}
<!-- THIS IS OVERRIDING THE NAVIGATION BAR FROM THE BASE.HTML -->
{% endblock %}
{% block body %}
    <div align="center">
    <h3>Please log into The Hunt!</h3>
    <form action="/login" method="POST">
        <label>Email:
            <input type="email" name="email">
            </label>
        </div>
        
        <div align="center">
            <label>Password:
                <input type="password" name="password" required>
            </label>
        </div>

        <div align="center">
            <input type="submit" value="Log into The Hunt!">
        </div>
    </div>
{% endblock %}