<!DOCTYPE html>
<html>
<head>
   <title>The Hunt</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label>Email:
            <input type="email" name="email">
            </label>
        </div>

        <div>
            <label>Password:
                <input type="password" name="password" required>
            </label>
        </div>

        <div>
            <input type="submit" value="Log into The Hunt!">
        </div>

    </form>
<footer>
   <p>Copyright The Hunt Viola D. Olayinka's HB Final Project 2015. <br>All rights reserved.</p>
</footer>
</div>

</body>
</html>