{% extends 'base.html' %}
{% block body %}


    <h3>{{ position.title }} ({{ position.company_name }})</h3>

    <p><strong>Deadline:</strong> {{ position.deadline }}</p>
    <p><strong>Location:</strong> {{ position.location }}</p>
    <p><strong>Application Status:</strong> {{ position.application_status }}</p>
    <p><strong>Position Summary:</strong> <br>{{ position.position_summary }}</p>
    <p><strong>Position Url:</strong><br> <a href="{{ position.position_url }}" target="_blank">{{ position.position_url }}</a></p>
 
  <h3>Upload your documents for this role here!</h3>
  <form action='/submit_documents' method='POST'>
  <label for="title" required> What type of document is this? </label>
  <br>
      <select name="document_type">
      <option value="cover_letter">Cover Letter</option>
      <option value="resume">Resume</option>
      <option value="professional_references">Professional References</option>
      <option value="other">Other</option>
     </select>
  <br>
  <br>
   <label for="document">Enter document text here: </label><br>
    <textarea name="document" rows="4" cols="50"></textarea><br>
    <label for="note_details">Enter your notes about this role here: </label><br>
    <textarea name="note_details" rows="4" cols="50"></textarea><br>
    <input type="submit">
  </form>  
  <br>
  <h3>Documents for {{ position.title }} ({{ position.company_name }})</h3>
    <ul>
      {% for document in document %}
          <li>
              <a href="/document/{{ document.document_id}}">
                {{ document.document_type }} ({{ document.document_content }})
              </a>
          </li>
      {% endfor %}
    </ul>
  <br>
  <h3>Notes on {{ position.title }} ({{ position.company_name }})</h3>
    <ul>
      {% for note in notes %}
          <li>
            {{ note.note_details }}
          </li>
      {% endfor %}
    </ul>
  <!-- <form action='/submit_notes' method='POST'>
  <label for="note_details">Enter your notes about this role here: </label><br>
    <textarea name="note_details" rows="4" cols="50"></textarea><br>
  <input type="submit">
  </form>   -->

{% endblock %}