{% extends 'base.html' %}
{% block body %}

  <div class="container">
    <div class="page-header">
      <div class="col-md-8" align="left">
          <h2>{{ position.title }} ({{ position.company_name }})</h2>
      </div>
      <div class="col-md-4" align="right">
        <h3>Contacts for ({{ position.company_name }})</h3>
     
            <h4>
                {{ contacts.name }}
                {{ contacts.phone_number}}
                {{ contacts.email_address}}
            </h4>
          
      </div>
      <div class="row">
        <div class="col-md-8" align="left">
          <p class="lead">
            <a href="{{ position.position_url }}" target="_blank"><strong>View the original posting here!</strong></a>
          </p>
        </div>
        <div class="col-md-8" align="left">
          <p class="lead"><strong>Deadline: </strong>{{ position.deadline }}</p>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6 col-lg-6" align="left">
        <p class="lead"><strong>Location: </strong>{{ position.location }}</p>
      </div>
      <div class="col-md-6 col-lg-6" align="center"> 
            {% if position.application_status == "in progress" %}
              <span class="btn btn-info btn-lg">
                  {{position.application_status}}
              </span>
            {% endif %}

            {% if position.application_status == "complete" %}
              <span class="btn btn-success btn-lg">
                {{position.application_status}}
              </span>
            {% endif %}

            {% if position.application_status == "rejected" %}
              <span class="btn btn-warning btn-lg">
                  {{position.application_status}}
              </span>
            {% endif %}

            {% if position.application_status == "not yet started" %}
              <span class="btn btn-danger btn-lg">
                  {{position.application_status}}
              </span>
            {% endif %}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-lg-6" align="left">
        <p class="lead"><strong>Position Summary:</strong><br>
          {{ position.position_summary }}</p>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="well bs-component">
          <legend>Have you made progress on this job app?</legend>
              <div class="radio">
                <form action="/position/{{position.position_id}}" method='POST'>
                  <input type="radio" name="status" value="not yet started"> Not Yet Started?<br>
                  <input type="radio" name="status" value="in progress"> In Progress<br>  
                  <input type="radio" name="status" value="complete"> Complete<br>
                  <input type="radio" name="status" value="rejected"> Rejected<br><br>
                  <button type="submit" class="btn btn-default btn-lg btn-block">Submit</button>
                </form>
              </div>
          </legend>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6" align="center">
           <h3>Upload your documents and take notes here!</h3>
           <form action='/submit_documents' method='POST'>
             <input type="hidden" name="position_id" value="{{position.position_id}}">
           <label for="title" required> What type of document is this? </label>
           <br>
               <select name="document_type">
               <option value="cover letter">Cover Letter</option>
               <option value="resume">Resume</option>
               <option value="professional references">Professional References</option>
               <option value="other">Other</option>
              </select>
           <br>
           <br>
            <label for="document">Enter document text here: </label><br>
             <textarea name="document" rows="4" cols="50"></textarea><br>
             <label for="note_details">Enter your notes about this role here: </label><br>
             <textarea name="note_details" rows="4" cols="50"></textarea><br><br>
             <input type="submit" class="btn btn-default btn-lg btn-block">
           </form>  
           <br>
      </div> 
      <div class="col-md-6 col-lg-6">
          <h3>Documents for {{ position.title }} ({{ position.company_name }})</h3>
          <ul>
              {% if document %}
                <li>
                    <a href="/document/{{ document.document_id}}">
                      {{ document.document_type }}
                    </a>
                </li>
              {% endif %}
          </ul>
          <h3>Notes on {{ position.title }} ({{ position.company_name }})</h3>
            <ul>
                {% if notes %}
                  <li>
                    {{ notes.note_details }}
                  </li>
                {% endif %}
            </ul>
          <br>
        </div>
      </div>
    </div>
  </div>
  
  
  

{% endblock %}