{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="page-header">
    <h1>Hunting begins now...</h1>
    <p class="lead">Here's to the start of a successful job application. Happy Hunting!
    </p>
  </div>

<br>
  <div class="container" id="wrap">
    <form action="/submit_position" method='POST'>
      <div class="form-group">
        <label for="title"> Position Title 
          <input type="text" 
                 name="title"
                 class="form-control"
                 placeholder="Enter the position's title">
        </label>
      </div>
      <div class="form-group">
        <label for="position_summary">Position Summary
          <br><textarea class="form-control" 
                        rows="4" 
                        cols="50" 
                        name="position_summary" 
                        placeholder="Enter the position details here!">
              </textarea>
        </label>
      </div>
      <div class="form-group">
            <label for="deadline">What's your deadline?
              <div class='input-group date' id='datetimepicker1'>
                <input type="date" name="deadline" value="deadline" class="form-control" /><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </label>  
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
      </div>
      <div class="form-group">
        <label for="company_name">Company Name
          <input type="text" 
                 name="company_name"
                 class="form-control"
                 placeholder="Enter the company's name">
        </label>
      </div>
      <div class="form-group">
        <label for="location">Location
          <input type="text" 
                 name="location"
                 class="form-control"
                 placeholder="Enter the location">
        </label>
      </div>
      <div class="form-group">
        <label for="application_status">Application Status<br>
          <input type="radio" 
                 name="status" 
                 value="not yet started" 
                 required> Not Yet Started?
          <input type="radio" 
                 name="status" 
                 value="in progress" 
                 required> In Progress  
          <input type="radio" 
                 name="status" 
                 value="complete" 
                 required> Complete 
          <input type="radio" 
                 name="status" 
                 value="rejected" 
                 required> Rejected
        </label>
      </div>
      <div>
        <label for="position_url">Position Url
          <input type="text" 
                 name="position_url"
                 class="form-control"
                 placeholder="Enter the location">
        </label>
      </div><br>
      <div>
          <label for="contact">Contact Name 
            <input type="text" 
                   name="contact_name"
                   class="form-control"
                   placeholder="Enter the Contact First and Last Name">
          </label>
      </div><br>
      <div>
          <label for="contact">Contact Email Address
            <input type="email" 
                   name="email_address"
                   class="form-control"
                   placeholder="Enter the Contact's email Address">
          </label>
      </div><br>
      <div>
          <label for="contact">Contact's Phone Number
            <input type="text" 
                   name="phone_number"
                   class="form-control"
                   placeholder="Enter the Contact's Phone Number">
          </label>
      </div><br>
      <div>
        <label for="submit">
          <input type="submit">
        </label>
      </div>
    </form>
  </div>
</div>
<br>
<br>
{% endblock %}