<html>
<head>
   <title>The Hunt</title>
</head>
<body>

<div align="center"><h4>New to The Hunt?<br>Sign Up!</h4></div>

<form action='/submit_register' method='POST'>
 <div align="center">
    <div>
      <label for="name">What's your name? </label>
      <input type="text" name="first_name" value="First name">
      <input type="text" name="last_name" value="Last name">
    </div>
    <br>
    <div>
      <label for="password">Password:</label>
      <input type="text" name="password" required>
    </div>
    <br>
    <div>
      <label for="picture">Upload link to professional headshot here:</label>
      <input type="text" name="picture" value="picture">
    </div>
    <br>
    <div>
      <label for="email_address">Email Address:</label>
        <input type="email" name="email_address" required>
    </div>
    <br>
   <!--  <div>
      <label for="last_login">Today's date:</label>
        <input type="date" name="last_login" value="last_login">
    </div>
    <br> -->
    <div>
      <label for="linkedin_url">LinkedIn: </label>
      <input type="text" name="linkedin_url" >
    </div>
    <br>
    <div>
      <label for="twitter_url">Twitter:</label>
      <input type="text" name="twitter_url">
    </div>
    <br>
    <div>
      <label for="facebook_url">Facebook:</label>
      <input type="text" name="facebook_url">
    </div>
    <br>
    <div>
      <label for="website_url">Website:</label>
      <input type="text" name="website_url">
    </div>
    <br>
    <div>
      <label for="submit"></label>
        <input type="submit">
    </div>
  </div>   
</form>

<div align="center">
  <footer>
   <p>Copyright The Hunt Viola D. Olayinka's HB Final Project 2015. <br>All rights reserved.</p>
  </footer>
</div>
</div>

</body>
</html>