{% extends 'base.html' %}

{% block nav %}
<!-- THIS IS OVERRIDING THE NAVIGATION BAR FROM THE BASE.HTML -->
{% endblock %}

{% block body %}
<div class="container">
  <div class="page-header">
    <h1>New to The Hunt?</h1>
    <p class="lead">Sign Up!</p>
  </div>
</div>
<div align="center">
  <h4><br></h4></div>

<form action='/submit_register' method='POST'>
  <div class="row" align="center">
    <div class="form-group form-inline">
      <div class="col-md-6">
        <label for="name">What's your name?
          <input type="text" 
                 name="first_name" 
                 class="form-control"
                 placeholder="First name">
          <input type="text" 
                 name="last_name" 
                 class="form-control"
                 placeholder="Last name">
        </label>
      </div>  
    </div>
  </div>
  <div class="row" align="center">
    <div class="form-group form-inline">
      <label for="password">Password:
        <input type="text" 
             name="password"
             class="form-control"
             placeholder="Enter a password" 
             required>
      </label>
    </div>
  </div>  
  
  <div class="control-group">
      <label for="control-label" for="inputIcon">Email address</label>
        <input type="email" name="email_address" required>
  </div>
    <br>
   

  <label class="control-label" for="inputIcon">Email address</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span>
      <input class="span2" id="inputIcon" type="text">
    </div>
  </div>
</div>




    <div class="form-group">
      <label for="linkedin_url">LinkedIn: </label>
      <input type="text" name="linkedin_url" >
    </div>
    <br>
    <div class="form-group">
      <label for="twitter_url">Twitter:</label>
      <input type="text" name="twitter_url">
    </div>
    <br>
    <div class="form-group">
      <label for="facebook_url">Facebook:</label>
      <input type="text" name="facebook_url">
    </div>
    <br>
    <div class="form-group">
      <label for="website_url">Website:</label>
      <input type="text" name="website_url">
    </div>
    <br>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>  
</form>

 
{% endblock %}