{% extends 'base.html' %}

{% block nav %}
<!-- THIS IS OVERRIDING THE NAVIGATION BAR FROM THE BASE.HTML -->
{% endblock %}

{% block body %}
<div class="container">
  <div class="page-header">
    <h1>New to The Hunt?</h1>
    <p class="lead">Sign Up!</p>
  </div>


<br>
  <div align="center">
    <form action='/submit_register' method='POST'>
      <div class="col-md-4 col-lg-6">
        <div class="form-group">
          <div class="form-inline">
            <label for="name">What's your first name?  
              <input type="text" 
                     name="first_name" 
                     class="form-control"
                     placeholder="First name">
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <label for="name">What's your last name?
              <input type="text" 
                     name="last_name" 
                     class="form-control"
                     placeholder="Last name">
            </label>
          </div>
        </div>  
        <div class="form-group">
          <div class="form-inline">
            <label for="password">Password:
              <input type="text" 
                   name="password"
                   class="form-control"
                   placeholder="Enter a password" 
                   required>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <label for="email">Email address:
              <input type="text" 
                     name="email_address"
                     placeholder="Enter your email address"
                     class="form-control"  
                     required>
            </label>
          </div>
        </div> 
      </div>
      <div class="col-md-4 col-lg-6">
        <div class="form-group">
          <div class="form-inline">
            <label for="linkedin_url">LinkedIn: 
              <input type="text" 
                     name="linkedin_url" 
                     class="form-control" 
                     placeholder="Enter your LinkedIn Url">
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <label for="twitter_url">Twitter:
              <input type="text" 
                     name="twitter_url"
                     class="form-control" 
                     placeholder="Enter your Twitter Url">
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <label for="facebook_url">Facebook:
              <input type="text" 
                     name="facebook_url"
                     class="form-control" 
                     placeholder="Enter your Facebook Url">
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <label for="website_url">Website:
              <input type="text" 
                     name="website_url"
                     class="form-control" 
                     placeholder="Enter your Website Url">
            </label>
          </div>
        </div>
      </div>
      <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" id="button" />
    </form>
  </div>
</div>
     
</div>  
 
{% endblock %}