{% extends 'base.html' %}

{% block body %}
<h1>Register</h1>

<form action="register" method="POST">
    <div>
        <label for="first_name">First Name: 
            <input type="email" name="email">
        </label>
    </div>
    <div>
        <label for="email">
            Email
            <input type="email" name="email">
        </label>
    </div>


    <div>
        <label for="email">
            Email
            <input type="email" name="email">
        </label>
    </div>

    <div>
        <label>
            Password
            <input type="password" name="password">
        </label>
    </div>

    <div>
        <label>
            Age
            <input type="number" name="age">
        </label>
    </div>

    <div>
        <label>
            Zipcode
            <input type="text" name="zipcode">
        </label>
    </div>

    <div>
        <input type="submit" value="submit">
    </div>

</form>
{% endblock %}